* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 250ms;
  scroll-behavior: smooth;
}

body {
  font-family: georgia, serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 115%;
  -webkit-font-smoothing: antialiased;
}

.todo {
  height: 100%;
}
/* INCIO DEL SECTOR IZQUIERDO*/
.left {
  position: fixed;
  width: 30%;
  height: 100%;
  min-height: 150px;
  float: left;
  background-color: #022733;
  text-align: center;
  color: #ffffff;
}
.left .arriba {
  margin-top: 20%;
}

.left .arriba img{
  width: 50%;
  height: auto;
}

.left h1 {
  font-family: verdana, sans-serif;
}
.left p {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.8);
}
.left a {
  color: #fff;
  text-decoration: none;
}
.left a:hover {
  color: #fff;
  border-bottom: 1px solid #eee;
}

.left .abajo{
  margin-top: 2%;
  text-align: center;
}
.left .abajo h2{
  font-size: 150%;
  margin: 0 30% 2% 30%;
  font-family: Verdana, sans-serif;
  border-bottom: 2px solid white;
}

.left .abajo .ancla1{
  font-family: verdana, sans-serif;
  margin-bottom: 20%;
}

.btnRegresar{
  display: block;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 0.5% 0% 0% 37%;
  cursor: pointer;
  transition: .5s;
}

.btnRegresar:hover {
  background-position: right;
  background-image: linear-gradient(to right, #32be8f, #022733, #32be8f);
}

.btnCerrar{
  display: block;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 0.5% 0% 0% 37%;
  cursor: pointer;
  transition: .5s;
}

.btnCerrar:hover {
  background-position: right;
  background-image: linear-gradient(to right, #32be8f, #022733, #32be8f);
}
/* FIN DEL SECTOR IZQUIERDO*/


/* INCIO DEL SECTOR DERECHO*/
.right {  
  margin: 0;
  padding: 0;
  position: relative;
  width: 70%;
  height: 100%;
  float: right;
  background-color: #ffffff;
}
.right article {
  margin: 0;
  padding: 0;
  padding: 5%;
}
.right article h1{
  font-family: Verdana, sans-serif;
  margin-bottom: 20px;
}
.right article h2 {
  color: #022733;
  font-family: verdana, sans-serif;
  border-bottom: 5px solid #32be8f;
  margin-bottom: 20px;
}

.right article span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
.right article p {
  padding: 40px 0 10px 0;
}
.right article img {
  padding: 5px;
}
.right .tags {
  font-family: verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 60%;
}

.right #ancla1, #ancla2{
  margin: 0;
  padding: 0;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}


img.float-right {
  max-width: 15%;
  border-bottom:5px solid #32be8f;  
}

h1{
  color: #022733;
  font-size: 200%;
  text-align:center;
}
.h2{
  color: white;
}
.info{
  width: 80%; 
  margin: 7% 0 0 0;
}

.btnModificar{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #022733, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-top: -3%;
  cursor: pointer;
  transition: .5s;
}

.btnModificar:hover {
  background-position: right;
}


.btnAgregar, .btnCatalogo{
  display: block;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #022733, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

.btnAgregar:hover, .btnCatalogo:hover {
  background-position: right;
}
#Agregar{
  margin-top: -5%;
  float: left;
}
#Catalogo{
  margin-top: -5%;
  float: right;
} 



footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20px;
}
footer p {
  font-size: 70%;
  padding: 10px;
}
/* FIN DEL SECTOR DERECHO*/




@media screen and (max-width: 768px) {
  .left {
    float: none;
    position: relative !important;
    width: 100%;
    min-height: 150px;
  }
  .left header {
    margin-top: 0;
    padding-top: 20px;
  }
  .left .h2{
    margin-top: 0;
    padding-top: 20px;
  }

  .left img{
    width: 50%;
    height: auto;
  }

  .right {
    float: none;
    position: relative !important;
    width: 100%;
    font-size: 95%;
  }
}
@media screen and (max-width: 480px) {
  .right article h2 {
    font-size: 105%;
  }
  .right article p {
    font-size: 85%;
  }

  .float-left, .float-right {
    float: none;
  }

  img {
    width: 95%;
  }
}










