@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #024873;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}


html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

/*TIPOGRAFIAS*/

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 0;
}

.titulo {
  font-size: 2.3rem;
  color: white;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.titulo4 {
  font-size: 2em;
}

.titulo2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1em;
  font-weight: 900;
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;


}

.texto2 span {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
}

.titulo3 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
  font-family: 'Turret Road', cursive;
}

.titulo span {
  font-weight: 300;
  display: block;
  font-size: 1.5rem;
}

@media (min-width:60rem) {
  .titulo {
    font-size: 2.8rem;
  }

  .titulo span {
    font-size: 2rem;
  }
}


/*BOTONCITOS*/

.btn {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}

.btn-small {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.btn-accent {
  color: #fff;
  border-color: #021947;
}

.btn-accent:hover,
.btn-accent:focus {
  background: #021947;
  color: white;
}

/* HEADER*/

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1.2em;
}

nav ul {
  margin: 1;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5em;
  color: #fff;
}

nav a:hover,
nav a:focus {
  color: #fff;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/*HERO IMAGE*/

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0)), url("../img/hero.jpg") center no-repeat;
  padding: 10em 0;
  background-size: cover;
  background-position: center;
}

@media (min-width: 60rem) {
  .hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

@media (min-width: 769px) {
  .hero {
    background-attachment: fixed;
  }

  .contenedor {
    /*PARTE DEL QUIENES SOMOS*/
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .center {
    flex: 1;
  }

  .add-flex {
    flex: 1;
  }

  .add-padding-derecha {
    padding-right: 10rem;
  }

  .imagen2 {
    min-height: 10rem;
  }

  .izquierda {
    order: 1;
  }

  .derecha {
    order: 2;
  }
}

/*NUESTRA HISTORIA*/

.imagen2 {
  width: 100%;
  min-width: 20rem;
  background-size: cover;
}

.store2 {
  width: 100%;
  min-width: 20rem;
  background-size: cover;
  margin-top: 3rem;
}

.custom-font {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
  text-align: center;
  line-height: 1;
  font-weight: 100;
}

.custom-font-secondary {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
  font-size: 1.5rem;
  line-height: .2;
  margin-bottom: 5rem;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.info-banner2 {
  padding: 20rem 0;
  text-align: center;
}

.info-banner2-color {
  color: white;
}

.texto2 {
  text-align: justify;
}

/*BANNER*/

.banner2 {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg") center no-repeat;
  background-size: cover;
  padding: 10em 0;
  background-attachment: fixed;
}

/*GALERIA*/

.galeria {
  margin-top: 3em 0 0;
}

.port-item {
  position: relative;
  margin: 0;
}

.port-item img {
  display: block;
}

.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  right: 0em;
  left: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2.5em;
}

.port-desc p {
  margin: 2em;
}

@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}

.img1 {
  width: 590px;
  height: 340px;
}

/*MAPA*/

.fondo {
  background: #17202A;
  height: 110%;
  color: white;
  max-height: 1000vh;
  border-radius: 6px;
  border-color: white;
  border-style: solid;
}

iframe {
  display: block;
  width: 100%;
  height: 50vh;
  max-width: 1000vh;
  max-height: 1000vh;
  margin: 1em auto;

}

/*FOOTER*/

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353C46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social>ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #fff;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #fff;
  color: white;
}

.contact-content img {
  max-width: 210px;
}

.contact-area {
  background: #1A1E25;
  color: #868c96;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  color: white;
  padding: 15px;
  margin-top: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(250, 251, 237, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}